body {
  background-color: #00000073;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px #474747;
  border-radius: 2px;
  background-color: #ffffff;
  width: 1200px;
  height: 780px;
  padding: 30px 25px;
  position: relative;
}

.header {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  font-size: 9px;
  width: 100%;
  padding: 0 0 15px 0;
}

.header-icons {
  display: flex;
  gap: 15px;
  width: fit-content;
}

h2 {
  margin: 0;
  padding: 15px 0px 5px 0px;
  font-size: 12px;
  font-weight: 300;
  color: #7b7d7e;
}

.top-form-group input {
  margin: 0;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #cecfd0;
  background-color: #f1f1f1;
  color: #8b8b8c;
  font-size: 13px;
  font-weight: 300;
  outline: none;
}

.top-form-group select {
  margin: 0;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #cecfd0;
  background-color: #f1f1f1;
  color: #8b8b8c;
  font-size: 13px;
  font-weight: 300;
}

.form-group-dependency-type {
  display: flex;
  gap: 15px;
}

.header-icons button {
  display: block;
  padding: 0;
  border: none;
  background-color: #ffffff;
}

button {
  display: block;
  padding: 0;
  border: none;
  height: 25px;
  width: 25px;
  background-color: #cecfd0;
}

input {
  margin: 0;
  outline: none;
}

.grid {
  padding: 15px 0 120px 0;
  display: flex;
  gap: 15px;
  width: 100%;
}

table {
  height: 200px;
  width: 100%;
  border-collapse: collapse;
}

caption {
  text-align: left;
  font-size: 14px;
}

thead tr {
  align-items: start;
}

th,
td,
tr {
  border: solid 1px #cecfd0;
  font-size: 11px;
  line-height: 22px;
  padding: 5px 3px;
  text-align: start;
  align-content: start;
  line-height: 30px;
}

input[type="checkbox"] {
  width: fit-content;
}

label {
  font-size: 12px;
}

.buttons-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
section.buttons-bottom button {
  background-color: #474747;
  width: 90px;
  height: 25px;
  color: #ffffff;
}

.increase-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.increase-buttons button {
  background-color: #ffffff;
  max-height: fit-content;
}

button.top {
  display: flex;
  justify-content: flex-end;
}