body {
  background-color: #00000073;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px #474747;
  border-radius: 2px;
  background-color: #ffffff;
  width: 1200px;
  height: 780px;
  padding: 30px 25px;
  position: relative;
  z-index: 2;
  gap: 5px;
}

.header {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  font-size: 9px;
  width: 100%;
}

.header-icons {
  display: flex;
  gap: 15px;
  width: 100%;
  justify-content: flex-end;
}

h1 {
  width: 100%;
}

h2 {
  margin: 0;
  padding: 15px 0px 5px 0px;
  font-size: 12px;
  font-weight: 300;
  color: #7b7d7e;
}

.form-group input:disabled {
  width: 100%;
  border: none;
  border-bottom: 1px solid #cecfd0;
  background-color: #f1f1f1;
  color: #8b8b8c;
  font-size: 13px;
  font-weight: 300;
  outline: none;
}

.form-group input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #474747;
  font-size: 13px;
  font-weight: 300;
  outline: none;
}

.form-group select {
  width: 100%;
  border: none;
  border-bottom: 1px solid #cecfd0;
  background-color: #f1f1f1;
  color: #8b8b8c;
  font-size: 13px;
  font-weight: 300;
}

.form-group-dependency-type {
  display: flex;
  gap: 15px;
  color: #8b8b8c;
}

.header-icons button {
  display: block;
  padding: 0;
  border: none;
  background-color: #ffffff;
}

button {
  display: block;
  padding: 0;
  border: none;
  height: 25px;
  width: 25px;
  background-color: #cecfd0;
}

input {
  margin: 0;
  outline: none;
}

.grid {
  padding: 15px 0 120px 0;
  display: flex;
  gap: 15px;
  width: 100%;
}

table {
  height: 200px;
  width: 100%;
  border-collapse: collapse;
}

caption {
  text-align: left;
  font-size: 14px;
}

thead tr {
  align-items: start;
}

th,
td,
tr {
  border: solid 1px #cecfd0;
  font-size: 11px;
  padding: 5px 3px;
  text-align: start;
  align-content: start;
  line-height: 30px;
}

input[type="checkbox"] {
  width: auto;
}

.checkbox {
  padding: 15 0 0 0;
}

label {
  font-size: 12px;
}

.buttons-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
section.buttons-bottom button {
  background-color: #474747;
  width: fit-content;
  padding: 5px;
  color: #ffffff;
  border-radius: 3px;
  display: flex;
  gap: 5px;
}

.increase-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
  z-index: -1;
}

.increase-buttons button {
  background-color: #ffffff;
  max-height: fit-content;
  max-width: fit-content;
}

button.equal-left-center {
  position: absolute;
  right: 2px;
  rotate: 90deg;
  top: 50%;
  cursor: e-resize;
}

button.equal-bottom-center {
  position: absolute;
  right: 50%;
  bottom: 2px;
  cursor: s-resize;
}

button.equal-bottom-left {
  position: absolute;
  right: 2px;
  bottom: 6px;
  rotate: 135deg;
  cursor: se-resize;
}

.message {
  color: #7b7d7e;
  font-size: 25px;
  text-align:center;
  padding: 300px 0px 0px 0px;
}

.finished-hidden {
  display: none;
} 

.finished-hidden.active,
.form-block.active
 {
  display: block;
  height: 100%;
}    

.form-block-submission.active {
  display: none;
}

